@font-face {
	font-family: 'helvetica';
	font-weight: 400;
	src: url('fonts/helvetica-light.woff') format('woff');
}
@font-face {
	font-family: 'helvetica';
	font-weight: 700;
	src: url('fonts/helvetica-bold.woff') format('woff');
}
* { 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font: 30px/1em helvetica, sans-serif;
	color: #fff;
	background: #fff;
}
a {
	color: #fff;
	text-decoration: none;
	outline: none;
}
.centered {
	display: table;
}
.centered>:first-child {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.bg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.fg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.translucent {
	position: relative;
	top: 0;
	left: 0;
	opacity: 0.9;
	filter: opacity(90);
}
#dot {
	position: relative;
	right: 0;
	bottom: 0;
	padding: 0;
	font-size: 0.5em;
	/*
	-webkit-animation: pulse 2s ease-out infinite alternate;
	   -moz-animation: pulse 2s ease-out infinite alternate;
	    -ms-animation: pulse 2s ease-out infinite alternate;
	     -o-animation: pulse 2s ease-out infinite alternate;
	        animation: pulse 2s ease-out infinite alternate;
			*/
}

.icons {
	margin-top: 10px;
}
.icons img {
	width: 40px;
	height: 40px;
	border: 5px solid #fff;
	background: #fff;
	border-radius: 100px;
}
.icons a:hover img {
	background: #3c9;
	border-color: #3d9;
}

.small {
	font-size: 0.7em;
}


/** `animation: `pulse */
@keyframes pulse {
	  0% {color: #000;} 100% {color: #fff;}
}
@-o-keyframes pulse {
	  0% {color: #000;} 100% {color: #fff;}
}
@-ms-keyframes pulse {
	  0% {color: #000;} 100% {color: #fff;}
}
@-moz-keyframes pulse {
	  0% {color: #000;} 100% {color: #fff;}
}
@-webkit-keyframes pulse {
	  0% {color: #000;} 100% {color: #fff;}
}
