@charset 'UTF-8';

/** -- `base -- */
body {
	background: #111;
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	overflow: hidden;
	background: #fff;
	cursor: none;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	    -moz-font-smoothing: antialiased;
	         font-smoothing: antialiased;
}

/** -- slides -- */
.slides {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.slides>li {
	list-style: none;
	position: absolute;
	width: 100%;
	height: 100%;
}
.slides>li>img {
	position: relative;
	margin: 0 auto;
}

/** -- `colors -- */
.halo {
	background: #fff;
	box-shadow: 0 0 100px rgba(0,0,0,0.2) inset;
}
.peach {
	background: #ef5050;
	color: whiteSmoke;
}
.peach-text { color: #ef5050; }
.cream {
	background: #ede0cf;
}
.asphalt {
	background: #4c4c4c;
}
.slime {
	background: #92b357;
	color: #6c8432;
}
.ocean {
	background: #69a8c2;
	color: #3e6478; /* #fff | #373637 */
}
.gum {
	background: #e86187;
	color: #943d5a;
}
.custered {
	background: #fb9236;
	color: #976325;
}
.daylight {
	background: #8ac9d0;
	color: #f6f3e8;
}
.dirt {
	background: #f6f3e8;
	color: #54514a;
}
.pink-cake {
	background: #e2404d; /* shadow: #c13642 */
	color: #f6efae; /* shadow: #d4b388 */
}
.tomato {
	background: tomato;
	color: #fff;
}
.white {
	background: #fff;
	color: #333;
}
.blaze {
	background-color: #4cd2da;
	color: #fff;
}
.royal {
	background-color: #0467e6;
	color: #fff;
}

.zoomable {
	position: absolute;
	height: 1px;
	width: 1px;
}
.blue-dot {
	color: #0467e6;
}

.centered {
	display: table;
}
.centered>:first-child {
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

b, .bold {
	font-weight: bold;
}

.small  {font-size: 1em;}
.medium {font-size: 4em;}
.big    {font-size: 8em;}
.huge   {font-size: 16em;}

h1 {
	margin: 0;
	padding: 0;
	font-size: 4em;
	font-weight: normal;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 3em;
	font-weight: normal;
}
.mono {
	font-family: monospace;
	font-size: 3em;
}

.mono b {
	opacity: 0.5;
}

.growl {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 30px;
	padding: 10px;
	box-shadow: inset 0 0 40px rgba(0,0,0,0.4);
	background-color: #0467e6;
	color: #fff;
	font-family: monospace;
	font-size: 2em;
	font-weight: bold;
}

.aloha-editable {
	width: 500px;
	width: 40%;
	margin: 110px auto;
	font-size: 1.5em
}

.aloha-caret {
	position: absolute;
	z-index: 1;
	margin: 0;
	padding: 0;
	background: #333;
	background-color: #0467e6;
	z-index: 99999;
}

.aloha-caret-blink {
	-webkit-animation: blink .5s ease-out infinite alternate;
	   -moz-animation: blink .5s ease-out infinite alternate;
	    -ms-animation: blink .5s ease-out infinite alternate;
	     -o-animation: blink .5s ease-out infinite alternate;
	        animation: blink .5s ease-out infinite alternate;
}

@-moz-keyframes blink {
	  0% {opacity: 1}
	100% {opacity: 0}
}
@-webkit-keyframes blink {
	  0% {opacity: 1}
	100% {opacity: 0}
}

::selection {
	background: #4285f4;
	background: #0467e6;
	color: #fff;
}
::-moz-selection {
	background: #4285f4;
	background: #0467e6;
	color: #fff;
}

.caret {
	display: inline-block;
	width: 13px;
	height: 1em;
	background: #fff;
	line-height: 1em;
	-webkit-animation: blink .5s ease-out infinite alternate;
	   -moz-animation: blink .5s ease-out infinite alternate;
	    -ms-animation: blink .5s ease-out infinite alternate;
	     -o-animation: blink .5s ease-out infinite alternate;
	        animation: blink .5s ease-out infinite alternate;
}
@-moz-keyframes blink {
	  0% {opacity: 1}
	100% {opacity: 0}
}
@-webkit-keyframes blink {
	  0% {opacity: 1}
	100% {opacity: 0}
}
